Repository abranch43/branchbot-deploy, changes with the labels that .github/labeler.yml gives for each.
All labels: contracts, family, funnels, tests, ci, docs, chore

.github/labeler.yml:

contracts:
  - "apps/contracts/**"
  - "tests/apps/contracts/**"

family:
  - "apps/family/**"
  - "tests/apps/family/**"

funnels:
  - "jobs/funnels/**"
  - "tests/jobs/funnels/**"

tests:
  - "tests/**"

ci:
  - ".github/**"

docs:
  - "**/README.md"
  - "AGENTS.md"

chore:
  - ".editorconfig"
  - ".gitattributes"
  - "requirements-dev.txt"

fix(scaffold): valid JSON/PDF generators; minimal pytest config
  apps/contracts/main.py
  apps/family/main.py
  pytest.ini
  requirements.txt
Labels: contracts, family

feat: add common PDF util; contracts parser+generator; family generators; funnels data snapshot API; tests; script import fixes
  apps/__init__.py
  apps/common/__init__.py
  apps/common/pdf.py
  apps/contracts/main.py
  apps/contracts/mo_buys_parser.py
  apps/contracts/receipt_generator.py
  apps/contracts/samples/form_sample.json
  apps/family/checklist_generator.py
  apps/family/intake_generator.py
  apps/family/main.py
  jobs/__init__.py
  jobs/funnels/run.py
  tests/apps/contracts/test_parser_and_generator.py
  tests/apps/family/test_family_generators.py
  tests/jobs/funnels/test_funnels_data_snapshot.py
Labels: contracts, family, funnels, tests

chore: finalize Codex PR — single Railway badge, drop gumroad, unify OpenAI client, modern pins
  .env.example
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/quality-gates.yml
  .github/workflows/weekly.yml
  .gitignore
  README.md
  branchbot/__init__.py
  branchbot/test_minimal.py
  branchbot_auto_suite.py
  branchbot_fullstack_test.py
  branchbot_script.py
  requirements.txt
  requirements_final.txt
  run_tests.bat
  scripts/weekly.py
Labels: ci, docs

Add files via upload
  branchbot-agent-mode-starter.zip
Labels: none

chore: add agent-permissions.yml (propose-only, sandboxed)
  agent-permissions.ym
Labels: none

Rename agent-permissions.ym to agent-permissions.yml and update contents
  agent-permissions.yml
Labels: none

Codex smoke test
  README.md
Labels: docs

chore: remove empty smoke-test header
  README.md
Labels: docs

fix: restore README.md in UTF-8 (undo mojibake)
  README.md
Labels: docs

chore: add AGENTS.md for Codex context
  AGENTS.md
Labels: docs

chore: enforce utf-8 + consistent line endings
  .editorconfig
  .gitattributes
Labels: chore

chore(ci): add basic Python CI (pytest, ruff, mypy)
  .github/workflows/ci.yml
Labels: ci

chore(ci): run pytest unconditionally so branchbot/test_minimal.py is executed
  .github/workflows/ci.yml
Labels: ci

chore(ci): set PYTHONPATH and run branchbot/test_minimal.py
  .github/workflows/ci.yml
Labels: ci

docs: add CI status badge to README
  README.md
Labels: docs

docs: add CI status badge to README
  README.md
Labels: docs

docs: add CI status badge to README
  README.md
Labels: docs

docs: de-duplicate CI badge (keep single at top)
  README.md
Labels: docs

chore(ci): add pip cache to speed up installs
  .github/workflows/ci.yml
Labels: ci

chore(test): add pytest.ini (clean output, consistent discovery)
  pytest.ini
Labels: none

chore: add pre-commit (ruff+black)
  .pre-commit-config.yaml
Labels: none

fix(test): strip BOM from pytest.ini and add trailing comment
  pytest.ini
Labels: none

chore: save .pre-commit-config.yaml as UTF-8 without BOM
  .pre-commit-config.yaml
Labels: none

chore: save .pre-commit-config.yaml as UTF-8 without BOM
  .pre-commit-config.yaml
Labels: none

fix(test): strip UTF-8 BOM from pytest.ini on pre-commit branch
  pytest.ini
Labels: none

fix(ci): sync pytest.ini from main; save pre-commit config as UTF-8 (no BOM)
  pytest.ini
Labels: none

fix(ci): normalize configs (UTF-8 no BOM); correct pre-commit YAML
  .pre-commit-config.yaml
Labels: none

Add Google Apps Script workspace setup helper
  scripts/apps_script_setup.gs
Labels: none

Add Apps Script sidebar UI and config helpers
  scripts/Code.gs
  scripts/Sidebar.html
Labels: none

chore: apply pre-commit fixes
  FINAL_BUNDLE_SUMMARY.py
  branchbot/test_minimal.py
  branchbot_auto_suite.py
  branchbot_fullstack_test.py
  branchbot_script.py
Labels: none

docs(security): add .env.example and basic secrets policy
  .env.example
  SECURITY.md
Labels: none
