Repository abranch43/branchbot-deploy, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, feat, fix, chore

chore(env): use NOTION_DATABASE_ID; add shim for legacy NOTION_DB_ID
  .env.example
  branchbot/notion_env.py
Labels: fix, chore

chore(ci): add env consistency check for NOTION_DATABASE_ID
  .github/workflows/ci.yml
Labels: chore

docs: add Ship-Safe Repo™ offer PDF and link in README
  README.md
  docs/Ship-Safe-Repo_Offer_APlus_Enterprise.pdf
Labels: docs, chore

Add files via upload
  gumroad_page_agent_pack_v3.zip
Labels: chore

Delete gumroad_page_agent_pack_v3.zip
  gumroad_page_agent_pack_v3.zip
Labels: chore

Add Gumroad Sync Social PR workflow
  .github/workflows/gumroad-sync-social-pr.yml
Labels: chore

Add Gumroad configuration for storefront and products
  .github/workflows/ops/gumroad-agent/config/gumroad.config.yaml
Labels: chore

Add gumroad_sync.py for Gumroad API integration
  .github/workflows/ops/gumroad-agent/config/ops/gumroad-agent/agents/gumroad_sync.py
Labels: fix, chore

Update paths in gumroad-sync-social-pr workflow
  .github/workflows/gumroad-sync-social-pr.yml
Labels: chore

Refactor Gumroad sync workflow paths and formatting
  .github/workflows/gumroad-sync-social-pr.yml
Labels: chore

Add script to render social post text files
  .github/workflows/ops/gumroad-agent/scripts/social_post_out.py
Labels: fix, chore

Add script to render social media post text files
  .github/workflows/ops/gumroad-agent/ops/gumroad-agent/scripts/social_post_out.py
Labels: fix, chore

Enhance Gumroad Sync workflow with better error handling
  .github/workflows/gumroad-sync-social-pr.yml
Labels: chore

Refactor Gumroad social PR workflow
  .github/workflows/gumroad-sync-social-pr.yml
Labels: chore

Add manual trigger to Gumroad sync workflow
  .github/workflows/gumroad-sync-social-pr.yml
Labels: chore

Update gumroad-sync-social-pr.yml
  .github/workflows/gumroad-sync-social-pr.yml
Labels: chore

chore(ci): update Gumroad Sync workflow v3.2
  .github/workflows/gumroad-sync-social-pr.yml
Labels: chore

chore(ci): rewrite Gumroad Sync workflow v3.2 with single-quoted heredoc
  .github/workflows/gumroad-sync-social-pr.yml
Labels: chore

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

feat:
  - changed-files:
      - any-glob-to-any-file: |
          branchbot/**
          api/**
          app/**
          **/feature_*.py

fix:
  - changed-files:
      - any-glob-to-any-file: '**/*.py'

chore:
  - changed-files:
      - any-glob-to-any-file: '**/*'
